/**
background: 1D3557
font: F1FAEE
highlight: E63946
light A8DADC
daker 457B9D
**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D3557;
    color: #F1FAEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.weekHeading {
    display: block;
    text-align: center;
    color: #f1faee;
    background-color: #e63946;
    font-weight: bold;
    text-decoration: none;
}

nav {
    background-color: #A8DADC;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
}

main {
    width: 80%;
    min-width: 300px;
    text-align: center;
    margin: 0 auto;
}


a {
    color: #E63946;
}

h1,
h2,
h3 {
    color: #A8DADC;
    text-decoration: underline;
}

h1 {
    font-size: 1.802rem;
}

h2 {
    font-size: 1.602rem;
}

h3 {
    font-size: 1.424rem;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

article p {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #A8DADC;
    color: #1D3557;
    text-align: center;
}

footer li {
    display: inline-block;
    width: 150px;
}

img {
    width: 100%;
}

.left-align {
    text-align: left;
}

#introduction {
    text-align: center;
}

.highlight {
    width: 100%;
    text-align: center;
    color: #F1FAEE;
    background-color: #E63946;
    border: 3px solid #F1FAEE;
    margin: 20px auto;
    padding: 10px;
}

.highlight a {
    color: #1D3557;
}

.inactiveLink {
    color: #A18284;
}